<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>

    <nav>
      <ul class="container">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'simple_form' %}">ConsoleDisplay</a></li>
        <li><a href="{% url 'app_one:sign_up' %}">SignUp</a></li>
        <li><a href="{% url 'app_one:register' %}">Register</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
      </ul>
    </nav>

    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>

  </body>
</html>
