<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>
    <div class="container clearfix">
      <div class="jumbotron">
        <h2>Data From Database.</h2>
      </div>

      {% if webpage_list %}
        <table>
          <thead>
            <th>Site Name.</th>
            <th>Date Accessed</th>
          </thead>

          {% for acc in webpage_list %}
            <tr>
              <td>{{ acc.name }}</td>
              <td>{{ acc.date }}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}

    <img src="{% static "img/nyc.jpg" %}" alt="nyc image">
  </div>

  <div class="container clearfix">

    <div class="jumbotron">
      <h2>Users in Database.</h2>
    </div>

    <table>
      <thead>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
      </thead>

      {% for people in user_list %}
        <tr>
          <td>{{ people.first_name }}</td>
          <td>{{ people.last_name }}</td>
          <td>{{ people.email }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <h3>Go to app_one/signup for signing up for database</h3>

  </body>
</html>
