{% extends 'app_one/base.html' %}
{% load staticfiles %}


{% block body_block %}

    <div class="container clearfix">
      <div class="jumbotron">
        <h2>Data From Database.</h2>
      </div>

      {% if webpage_list %}
        <table>
          <thead>
            <th>Site Name.</th>
            <th>Date Accessed</th>
          </thead>

          {% for acc in webpage_list %}
            <tr>
              <td>{{ acc.name }}</td>
              <td>{{ acc.date }}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}

    <img src="{% static "img/nyc.jpg" %}" alt="nyc image">
  </div>
{% endblock %}
