{% extends 'app_one/base.html' %}
{% load staticfiles %}


{% block body_block %}

    <div class="container clearfix">
      <div class="jumbotron">
        <h2>Data From Database.</h2>
      </div>

      {% if webpage_list %}
        <table>
          <thead>
            <th>Site Name.</th>
            <th>Date Accessed</th>
          </thead>

          {% for acc in webpage_list %}
            <tr>
              <td>{{ acc.name }}</td>
              <td>{{ acc.date }}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}

    <img src="{% static "img/nyc.jpg" %}" alt="nyc image">
  </div>

  <div class="container">
    <div class="jumbotron">
      <h2>Registered users</h2>
    </div>

    {% for people in people_list %}

      <div class="card" style="width: 18rem;">
        
        {% if people.profile_picture %}
          <img class="card-img-top" src="{{ people.profile_picture.url }}" alt="Card image cap">
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{ people.user.username }}</h5>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ people.user.email }}</li>
          <li class="list-group-item">{{ people.portfolio_site }}</li>
        </ul>
      </div>


    {% endfor %}

  </div>
{% endblock %}
