*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table{
  float: left;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 2px solid #000;
}

td, th{
  border: 1px solid #000;
  padding: 10px;
}

.container img{
  max-width: 500px;
  height: auto;
  float: right;
  margin-top: 20px;
}

.panel{
  width: 70%;
  margin-left: 15%;
  background-color: #f8f8f8;
  padding: 40px;
  border-top: 15px solid #555;
}

nav{
  background-color: #555;
}

ul{
  list-style: none;
  text-align: left;
}

li{
  display: inline-block;
  padding: 15px;
  transition: background-color 0.3s;
}

 li a:link,
 li a:visited{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

li:hover,
li:active{
  background-color: #464848;
}
